#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}

.header{
    background: #1d3557
}
body{
    background: #457b9d;
}

h1.name{
    color: white !important;
}
h2.desc{
    color: white !important;
}